/* estilos universales */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

body{
    background-color: black;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-area: header;
    background-color: #FFB2BF;
}

header nav ul{
    display: flex;
    list-style: none;
    gap: 0.5rem;
    font-size: 15px;
}

a{
    text-decoration: none;
    color: black;
}

/* estilos pag principal */
.falso-body{
    height: 150vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
        "header"
        "main"
        "imgmessi"
        "footer";
    gap: 10px;
}

main{
    grid-area: main;
}

.falso-body main h1{
    padding: 10px;
    text-align: center;
}

div .img-cont img{
    width: 100%;
    height: 100%;
    grid-area: imgmessi;
}

main div .parrafo{
    grid-area: parrafo;
}

p{
    font-size: 15px !important;
    padding: 0px 5px 0px 5px;
    text-align: center;
}

footer{
    grid-area: footer;
    background-color: #FFB2BF;
}

footer div{
    display: flex;
    padding: 5px 10px;
}

footer div img{
    display: inline-block;
    height: 30px;
    width: 30px;
}

.img-messiwc{
    display: none;
}

/* estilos Trofeos */

.falsobody-trofeos{
    background-color: black;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% auto auto auto 10%;
    grid-template-areas: 
        "headertr"
        "maintr"
        "maintr"
        "maintr"
        "footertr";
}

.falsobody-trofeos main{
    grid-area: maintr;
}

.falsobody-trofeos header{
    grid-area: headertr;
}

.falsobody-trofeos footer{
    grid-area: footertr;
}

.falsobody-trofeos main section{
    height: 80vh;
}

/* Estilos galeria */

body{
    color: white;
}

main{
    display: flex;
    flex-direction: column;
}

main section .img-messi-joven{
    gap: 10px;
}

main section img{
    max-width: 100%;
    padding: 5px 0px 5px 0px;
}



/* mq Desktop */

@media screen and (min-width: 1024px){

    .falso-body{
        width: 100%;
        grid-template-columns: 1fr 1.75fr auto;
        grid-template-rows: 10% auto auto 5%;
        grid-template-areas: 
            "header header header"
            "main   main   imgmessi"
            "main   main   imgmessi"
            "footer footer footer";
        gap: 10px;
        background-color: black;
    }

    .img-cont{
        grid-area: imgmessi;
        max-width: 100%;
        max-height: 100%;
        padding-right: 10px;
    }

    .img-messi{
        display: none;
    }

    .img-messiwc{
        display: flex;
    }

    header{
        font-size: 30px;
        padding: 0px 15px 0px 15px;
    }

    main div p{
        font-size: 25px !important;
    }

    main{
        grid-area: main;
    }

    header nav ul{
        gap: 1.5rem;
        padding-right: 10px;
    }
}