@mixin flex($justify, $align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin grid ($justify, $align){
    display: grid;
    justify-content: $justify;
    align-items: $align;
}

@mixin animacion-img{
    overflow: hidden;
    transition: transform 0.5s ease;
}