$color-principal:#FFB2BF;
$color-secundario:#ff90a2;
$color-sombra: rgb(245, 92, 118);
$color-hover:#ff7e93;
$color-boton: #ff748b;
$hover-negro: rgb(104, 104, 104);
$color-seleccion-head: #3b8cd8;
$color-seleccion: #629cd1;
$hover-celeste:#8ac5fc;
$hover-blanco:rgb(223, 223, 223);