footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: $color-principal;
    width: 100%;
    .redes{
        padding: 5px 10px;
        gap: 20px;
        text-align: center;
        img{
            @include animacion-img;
            display: inline-block;
            height: 35px;
            width: 35px;
            margin: 0px 20px;
            &:hover{
                transform: scale(1.1);
            }
        }
        p{
            color: black;
            font-size: 18px;
            font-weight: bold;
        }
        .twitter{
            border-radius: 10px;
        }
    }
    .escudos-clubes{
        img{
            @include animacion-img;
            display: inline-block;
            height: 40px;
            width: 40px;
            margin: 10px 7px;
            &:hover{
                transform: scale(1.2);
            }
        }
        
    }
}

/* MQ Tablet */

@media screen and (min-width: 600px){
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/* MQ Desktop */

@media screen and (min-width: 1024px){
    footer{
        width: 100%;
        .escudos-clubes{
            padding-top: 5px;
        }
    }
}
