.falso-body{
    @include flex(center, center);
    flex-direction: column;
}

.img-messiwc{
    display: none;
}

.img-cont{
    img{
        width: 100%;
        padding: 10px 0px;
    }
}

main{
    div{
        h1{
            padding: 10px;
            text-align: center;
        }
        .parrafo{
            font-size: 15px;
            text-align: center;
            padding: 0px 5px;
        }
    }
}

/* MQ Desktop */

@media screen and (min-width: 1024px){
    .main-index{
        display: grid;
        grid-template-columns: repeat(2, auto);
        .img-cont{
            .img-messi{
                display: none;
            }
            .img-messiwc{
                display: inline-block;
            }
        }
        .parrafo{
            font-size: 22.5px;
        }
    }
}