.trofeos{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
}

.trofeos div{
    width: auto;
}

.disp{
    text-align: center;
    margin-bottom: 35px;
    img{
        display: inline-block;
        width: 95px;
        height: 155px;
        margin-bottom: 10px;
    }
    p{
        margin-bottom: 5px;
    }
}

section{
    .mundial-de-clubes{
        img{
            width: 65px;
        }
    }
    .supercopa-de-europa{
        img{
            width: 75px;
        }
    }
    .ligue-one{
        img{
            width: 150px;
            height: 150px;
        }
    }
    .supercopa-de-francia{
        img{
            width: 155px;
        }
    }
    .leagues-cup{
        img{
            width: 125px;
        }
    }
    .copa-america{
        img{
            width: 70px;
        }
    }
    .mundial-sub{
        img{
            width: 60px;
        }
    }
    .juegos-olimpicos{
        img{
            width: 87px;
        }
    }
    .copa-del-mundo{
        img{
            width: 65px;
        }
    }
    .finalissima{
        img{
            width: 105px;
        }
    }
    .balon-de-oro{
        img{
            width: 115px;
            height: 115px;
        }
    }
    .bota-de-oro{
        img{
            width: 135px;
        }
    }
    .pichichi, .mvp-laliga, .goleador-champions, .mvp-europa{
        img{
            width: 110px;
        }
    }
    .balon-de-oro-mundial{
        img{
            width: 65px;
        }
    }
}

.salon-trofeos{
    h1{
        font-size: 45px;
        font-weight: bold;
    }
    h2, h3, h4{
        font-size: 30px;
        text-decoration: underline;
    }
}

/* MQ Tablet */

@media screen and (min-width: 600px){
    .trofeos{
        grid-template-columns: repeat(3, auto);
        
        .disp{
            position: relative;
            p{
                margin: 0px;
            }
            .text-hover{
                border-radius: 5px;
                position: absolute;
                top: 60%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                padding: 5px;
                font-size: 15px;
                width: 150px;
                background-color: black;
                box-shadow: 0px 0px 10px white;
                transition: 0s;
            }
        }
        .disp:hover img{
            @include animacion-img;
            filter: blur(2px);
            transform: scale(1.1);
        }
        .disp:hover .text-hover{
            opacity: 1;
            transition: 1s;
        }
    }
}

/* MQ Desktop */

@media screen and (min-width: 1024px){
    .trofeos{
        grid-template-columns: repeat(5, auto);
    }
}